.carousel{
    height: 15%;
}
.carousel-item{
    height: 600px;
}
.carousel-item img{
    height: 600px;
}
.row{
    margin-top: 50px;
}
.card-img-top{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.card{
    text-align: center;
}
.button{
    border: solid;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: antiquewhite;
    padding: 10px 20px;
}
.btn-secondary:focus{
    background-color: rgb(196, 118, 15);
}
.form{
    
}